/*Author: Yadnava Prasanna.G*/
/*HOME PAGE*/
body,html{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
}

/* header */

.top-bar{
    background-color: #F0F0F0;
}
.top-bar small{
    margin-left: 10%;
}
.top-bar a{
    float: right;
    padding: 3px;
}
.top-bar i{
    float: right;
    padding: 5px;
}

.header{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.header img{
    margin-left:25%;
    float: left;
    padding: 3px;
    max-height: 100px;
    max-width: 50%;
}
.header p{
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    font-size:1.5vw;
}
.title-card{
    position: relative;
}
.title-card img{
    
    max-height:40%;
    max-width: 100% ;
}
.title-card h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vmax;
    margin-top: 2px;
    padding-bottom: 10px;
    color: white;

}



/* content */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
.card h2{
    font-size: 25px;
   
}
   .ccolumn {
    float: left;
    width: 50%;
    padding-bottom: 20px;
    height: auto;
    display: block;
  }

  .rrow {margin: 0 -5px;
}

  .rrow:after {
    content: "";
    display: table;
    clear: both;
  }
@media screen and (min-width: 9000px){
    .ccolumn{
        padding-left: auto;
        padding-right: auto;
    }
}
  @media screen and (max-width: 600px) {
    .ccolumn {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      padding-left: auto;
      padding-right: auto;
    }
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    background-color: #0B4BAB;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
   
    height: 140px;
    width: 340px;
  }

  .card img{
      max-height: 100px;
      width: 100px;
      float: left;
      padding: 5px;
  }
  .ccolumn a{
      color: white;
      text-decoration: none;
  }




/* footer */
body,html{
    margin-left: 0px;
    width: 100%;
    box-sizing: border-box;
}
.footertitle{
    text-align: center;
    margin-top: 0px;
    font-weight: lighter;

    margin-bottom: 0;
}
.aboutus{
    height: 40px;
    background-color: #0B4BAB;
    text-align: center;
    padding-top: 8px;
    margin-top: 8px;
    
}


.footerlink{
    
   
    text-decoration: none;
    color: white;
   
   
}


.spanhr{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}