
body,html{
    width: 100vw;
    height: 100vh;
    /* overflow: scroll; */
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
}

/* header */

.top-bar{
    background-color: #F0F0F0;
}
.top-bar small{
    margin-left: 10%;
}
.top-bar a{

    float: right;
    padding: 3px;
}
i{
    float: right;
    padding: 5px;
}

.header{
    /* position: relative; */
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.header img{
    margin-left:25%;
    float: left;
    padding: 3px;
    max-height: 100px;
    max-width: 50%;
}
.header p{
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    font-size:1.5vw;
}
.title-card{
    /* max-height: 10%; */
    position: relative;
}
.title-card img{
    
    max-height: 5%;
    max-width: 100% ;
}
.title-card h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vmax;
    margin-top: 2px;
    padding-bottom: 10px;
    color: white;

}

/* body */

.container-ash{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    align-items: center;

}
.container-ash input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 50%;
    background-color: rgb(152, 209, 247);
    padding: 10px;
    border-radius: 10px;
}

.container-ash input:active{
    background-color: rgb(205, 228, 243);
}

.container-ash button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    background-color:rgb(0, 232, 0) ;
    color: black;
    border-radius: 10px;
}

.container-ash button:hover{
    background-color: rgb(165, 246, 165);
}

.container-ash table{

    display:table;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.container-ash th,td,table{
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    text-align: center;
    padding:  5px;  
}
#hospital-name-ash{
    background-color:#00E0FF;
}

#updated-date-ash{
    background-color:#FEE202;
}

#available_beds-ash{
    background-color: #00EEEE;
}

#institution-ash{
    background-color: #C5E3FF;
}

#isolation-ash{
    background-color: #FA00FF;
}
#oxygen-ash{
    background-color: #02FE76;
}
#ventilator-ash{
    background-color: #C5E3FF;
}
#not_found_gov-ash{
        background-color: rgb(250, 85, 85);

}
#not_found_private-ash{
    background-color: rgb(250, 85, 85);

}
#not_found_nursing-ash{
    background-color: rgb(250, 85, 85);


}

/* footer */
body,html{
    margin-left: 0px;
    width: 100%;
    box-sizing: border-box;
}
.footertitle{
    text-align: center;
    margin-top: 0px;
    font-weight: lighter;

    margin-bottom: 0;
}
.aboutus{
    height: 40px;
    background-color: rgb(37, 37, 137);
    text-align: center;
    padding-top: 8px;
    margin-top: 8px;
    
}


.footerlink{
    
   
    text-decoration: none;
    color: white;
   
   
}


.spanhr{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
