/*ISOLATION*/

/*-----Author: Nivedha Vengadesh-----*/
@charset "utf-8";
/* CSS Document */
body,html{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* header */

.top-bar{
    background-color: #F0F0F0;
}
.top-bar small{
    margin-left: 10%;
}
.top-bar a{
    float: right;
    padding: 3px;
}
.top-bar i{
    float: right;
    padding: 5px;
}

.header{
    /* position: relative; */
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.header img{
    margin-left:25%;
    float: left;
    padding: 3px;
    max-height: 100px;
    max-width: 50%;
}
.header p{
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    font-size:1.5vw;
}
.title-card{
    /* max-height: 10%; */
    position: relative;
}
.title-card img{
    
    max-height: 5%;
    max-width: 100% ;
}
.title-card h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vmax;
    margin-top: 2px;
    padding-bottom: 10px;
    color: white;

}
.mainheadingniv h2{
	text-align: center;
	font-size: 2vw;
    color: blue;
    text-decoration: underline;	
}

.mainheadingniv p{
    text-align: center;
    color: black;
	font-size: 2vw;

}

.statusdisplayniv table, tr{
	width: 35%;
	border: none;
	}


.roomrequestniv h3{
	text-align: left;
    text-decoration: none;
    color: black;
	font-size: 1.8vw;
    padding-left: 20%;
	min-width: 100%;
	max-width: 100%;
}

.roundcornerniv {
  border-radius: 10px;
  background: #BCE9F0;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  align-self: center;
  font-size: 2vw;
  margin-left: 15%;
  display: inline-block;
  min-width: 70%;
  max-width: 5000px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 20%;

}

.roundcornerniv-2 {
  width: 70%;
  border-radius: 10px;
  background: #ffffffff;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  height: 25px;
  align-self: center;
  font-size: 2vw;
	margin-left: 20%;
}

.roundcornerniv num {
	float: left;
	margin-left: 2%;
	}

.roundcornerniv icon {
	float: right;
	margin-right: 2%;
	min-width: 50px;
}
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}


.thumbnailniv {
    align-content: center;
	margin-left: 20%;
	}

.thumbnailniv img {
	padding-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 25%;
}

.middle-barniv img{
	max-height: inherit;
	max-width: inherit;
    float: right;
    padding: 10px;
}

.middle-barniv-2 img{
    float: left;
    margin-left: 15%
}


.centeredniv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerniv {
  position: relative;
  text-align: center;
  color: white;
  }

.containerniv img{
  max-width: 100%;
  min-width: 100%;
  }

.containerniv h1,h3 {
  position: relative;
  text-align: center;
  color: black;
  width: 250px;
}

/* Centered text */
.centeredniv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* footer */
body,html{
    margin-left: 0px;
    width: 100%;
    box-sizing: border-box;
}
.footertitleniv{
    text-align: center;
    margin-top: 0px;
    font-size: 1.2vw;
	margin-bottom: 0;
}
.aboutusniv{
    height: 30px;
	display: inline-block;
	min-height: 30px;
	min-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgb(37, 37, 137);
    text-align: center;
    padding-top: 4px;
    margin-top: 4px;
    
}

.pagepositionniv{
    
    text-align: left;
    text-decoration:none;
    color: blue;
	font-size: 1.5vw;
    padding-left: 20%;
    
}


  

  /* footer */

.footertitle{
    text-align: center;
    margin-top: 0px;
    font-weight: lighter;

    margin-bottom: 0;
}
.aboutus{
    height: 40px;
    background-color: rgb(37, 37, 137);
    text-align: center;
    padding-top: 8px;
    margin-top: 8px;
    
}


.footerlink{
    
   
    text-decoration: none;
    color: white;
    
   
   
}


.spanhr{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;

}
