#tracker-table{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

#table-content {
  padding: 10px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

#covid-th{
  height: 150px;
  width: 150px;
  border: none;
  border-radius: 15px;
}
#hospital-th{
  height: 150px;
  width: 150px;
  border: none;
  border-radius: 15px;


}

#isolation-th{
  height: 150px;
  width: 150px;
  border: none;
  border-radius: 15px;


}
#recovered-th{
  height: 150px;
  width: 150px;
  border: none;
  border-radius: 15px;

}

#death-th{
  height: 150px;
  width: 150px;
  border: none;
  border-radius: 15px;

}

#table-bottom-bar{
  background-color: rgb(170, 145, 145);
  width: 700px;
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #covid-th{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 15px;
  }
  #hospital-th{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 15px;
  
  
  }
  
  #isolation-th{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 15px;
  
  
  }
  #recovered-th{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 15px;
  
  }
  
  #death-th{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 15px;
  
  }
  #tracker-table{
    border: 1px solid black;
    text-align: center;
    padding: 0px;
    font-size: small;
  }
  
  #table-content {
    padding: 1px;
    font-size: 1px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  #table-bottom-bar{
    background-color: rgb(170, 145, 145);
    width: auto;
    margin-top: 0px;
    text-align: center;
    font-size: 1px;
  }
  
}

@media only screen and (max-width: 400px) {
  #covid-th{
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 15px;
  }
  #hospital-th{
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 15px;
  
  
  }
  
  #isolation-th{
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 15px;
  
  
  }
  #recovered-th{
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 15px;
  
  }
  
  #death-th{
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 15px;
  
  }

  
}