.homeiconchecklist {
	margin-top: 0px;
	margin-left: 60px;
	height: 20px;
	margin-bottom: 30px;
}

.multi-level,
.item ul,
.nav input[type="checkbox"] {
	display: none;
}

.multi-level,
.item input:checked~ul {
	display: block;
}

.arrow {
	width: 22px;
	height: 22px;
	vertical-align: top;
	float: left;
	z-index: 0;
	margin: 17px 1em 0 2em;
}

.item input+.arrow {
	transform: rotate(-90deg);
	transition: 0.1s;
}

.item input:checked+.arrow {
	transform: rotate(0deg);
	transition: 0.1s;
}

label:hover {
	cursor: pointer;
}

label {
	width: 100%;
	display: block;
	z-index: 3;
	position: relative;
}

.nav {
	width: 100%;
	background-color: white;
	overflow-x: hidden;
	border-bottom: 1px solid #CFD8DC;
}

#nav-icon {
	font-size: 28px;
	line-height: 50px;
	padding-left: 1em;
	color: white;
	background-color: #F44336;
}

.nav ul,
.nav li,
label {
	line-height: 50px;
	margin: 0;
	padding: 0 2em;
	padding-top: 0px;
	list-style: none;
	text-decoration: none;
	font-weight: 100;
	width: 100%;
}

.nav li a {
	line-height: 20px;
	margin: 0;
	padding: 0 4em;
	list-style: none;
	text-decoration: none;
	color: #90A4AE;
	font-weight: 100;
}

.m {
	width: 1450px;
	height: 40px;
	background-color: #0b56c5;
	border-radius: 8px;
	color: white;
	padding-bottom: 8px;
}

.nn {
	width: 1300px;
	background-color: #b2d7fa;
	border-radius: 10px;
	color: black;
	margin-top: 2px;
	margin-bottom: 0;
	
}

.y li {
	padding-top: 0;
}

.n {
	width: 1450px;
	height: 50px;
	background-color: #0b56c5;
	border-radius: 8px;
	color: white;
	padding-bottom: 8px;
	background-color: #0b56c5;
    ;
	padding-bottom: 15px;
	color: white;
	margin-top: 5px;
}


.nav {
	padding-left: 30px;
	margin-top: 0px;
}

.home {
	margin-left: 50px;
	font-weight: 100;
	margin-top: 0;
}

label {
	font-weight: 900;
}