/*----Author: Manigandan.G-----*/
body,html{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
}

/* header */

.manitopbar{
    background-color: #F0F0F0;
}
.manitopbar small{
    margin-left: 10%;
}
.manitopbar a{
    float: right;
    padding: 3px;
}
.manitopbar i{
    margin-top: -5px;
}
.manii i{
    margin-right: 50px;
}
.maniheader{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.maniheader img{
    margin-left:25%;
    float: left;
    padding: 3px;
    max-height: 100px;
    max-width: 50%;
}
.maniheader p{
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    font-size:1.5vw;
}
.manititle-card{
    position: relative;
}
.manititle-card img{
    
    max-height: 5%;
    max-width: 100% ;
}
.manititle-card h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vmax;
    margin-top: 2px;
    padding-bottom: 10px;
    color: white;

}


/* footer */
body,html{
    margin-left: 0px;
    width: 100%;
    box-sizing: border-box;
}
.manifootertitle{
    text-align: center;
    margin-top: 0px;
    font-weight: lighter;

    margin-bottom: 0;
}
.maniaboutus{
    height: 40px;
    background-color: rgb(37, 37, 137);
    text-align: center;
    padding-top: 8px;
    margin-top: 8px;
    
}


.manifooterlink{
    
   
    text-decoration: none;
    color: white;
   
   
}


.manispanhr{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
/*-----div--*/
.hom img{
  margin-left: 50px;
  width: 60px;
  height: 50px;
  float: left;
  
}

.hero{
	background: #fff;
	width: 100%;
	min-height: 100vh;
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 80px;
	box-sizing: border-box;
	text-align: center;
	color: black;
}
.manirow{
	margin-top: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.manicol{
	flex-basis: 28%;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	cursor: pointer;
	min-width: 230px;
	margin-bottom: 20px;
	border: 1px solid #0B56C5;
	background: #DFE4F7;
}

.profile{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: #DFE4F6;
	padding: 12px;	
}

.profile img{
	width: 100%;
}

.profile h3{
	color: #0B56C5;
	margin: 0px 0 10px;
	font-weight: 500;
}
.profile p{
	margin-bottom:10px;
	color: black;
}

.mani .fa{
	position:relative; left:110px; top:17px; color:#EA4335 ;
}

.icon .fa{
	position:relative; left:110px; top:110px; color:#EA4335 ;
}
p.age{
    color: #FB2E3A;
    font-family: arial;
}

.manibutton {
  background-color: lightgrey; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*-----media query------*/
@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .hero {
    width: 100%;
  }
  .mani .fa{
  	left:100px; top:17px;
  }
  .icon .fa{
  	left: 100px;
  }
  .manii i{
    margin-right: 1px;
  }
}

@media only screen and (min-width: 600px) {
	.mani .fa{
		left:100px; top:17px;
	}
	.icon .fa{
  	left: 100px;
  }

}

/*-----search------*/

.manicontainer{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    align-items: center;

}
.manicontainer input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 50%;
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
}

